#disable_html_escaping()
#parse("/templates/formfields/aui.vm")
#parse("/templates/formfields/normalHeader.vm")
#if (!$auiparams.containsKey('class'))
	#set ($auiparams.class = "select")
#end
#parse("/templates/simple/select.vm")
#parse("/templates/formfields/normalFooter.vm")