#* @vtlvariable name="action" type="com.isostech.jira.mailhandler.EditExtendedCreateIssueHandlerDetailsWebAction" *#
#set ($modifierKey = $action.browserUtils.getModifierKey())
#set ($submitAccessKey = $i18n.getText('AUI.form.submit.button.accesskey'))
#set ($submitTitle = $i18n.getText('AUI.form.submit.button.tooltip', [$submitAccessKey, $modifierKey]))

#set ($cancelAccessKey = $i18n.getText('AUI.form.cancel.link.accesskey'))
#set ($cancelTitle = $i18n.getText('AUI.form.cancel.link.tooltip', [$cancelAccessKey, $modifierKey]))
<html>
<head>
    <title>$action.handlerName</title>
</head>
<body>
    <form class="aui" action="EditExtendedCreateIssueHandlerDetails.jspa" method="POST" name="mailHandlerForm" id="mailHandlerForm">
        <div class="form-body">
            <h2>$action.handlerName</h2>
           <span class="global-errors-location">
                #if ($action.getHasErrorMessages())
                    #foreach ($error in $action.getFlushedErrorMessages())
                        #AUImessage("error" "" $textutils.htmlEncode(${error}) "" "" "" "false")
                        #end
                #end
            </span>
            <input type="hidden" name="atl_token" value="$atl_token">
            
            <label for="project-key">$i18n.getText('isosmailhandler.project.key')</label>
            <input type="text" class="text" id="project-key" name="projectKey" value="$!textutils.htmlEncode($projectKey)"> </br>
            
			<label for="issue-type">$i18n.getText('isosmailhandler.issue.type')  </label>
            <input type="text" class="text" id="issue-type" name="issueType" value="$!textutils.htmlEncode($issueType)"> </br>
            
            <label for="subject">$i18n.getText('isosmailhandler.subject')</label>
            <input type="text" class="text" id="subject" name="subject" value="$!textutils.htmlEncode($subject)"> </br>
            
            <label for="reporter">$i18n.getText('isosmailhandler.reporter')</label>
            <input type="text" class="text" id="reporter" name="reporter" value="$!textutils.htmlEncode($reporter)"> </br>

        <div class="buttons-container form-footer">
            <div class="buttons">
                #if ($action.editing)
                    #set ($addButtonLabel = $i18n.getText('common.words.save'))
                #else
                    #set ($addButtonLabel = $i18n.getText('common.forms.add'))
                #end
                <input id="addButton" type="submit" class="button" value="$!addButtonLabel" accesskey="$submitAccessKey" title="$submitTitle">
                <a href="IncomingMailServers.jspa" class="cancel" accesskey="$cancelAccessKey" title="$cancelTitle">$i18n.getText("AUI.form.cancel.link.text")</a>
            </div>

        </div>
    </form>
</body>
</html>

